#Allure Files
/allure-report
/allure-results

#IDEA Files
/.idea
.idea/*
/out
/.idea/workspace.xml

#Proyect Files
/.target
/target
.target/*
/bin
/web-results

#Resultado Gherkin Octane
/gherkin-results
gherkin-results/
gherkin-results/*

#BCI Files
DriverNavegador/
/DriverNavegador
DriverNavegador/*
apps/
*.iml
*.apk
*.ipa
*.app
*.pdf
/apps

#Others Files
/build
*.zip
*.png
/.DS_Store
DS_Store
src/.DS_Store
src/main/.DS_Store
src/test/.DS_Store
src/main/resources/.DS_Store
tmp/*.pdf
tmp/temporalFile
tmp/*
selenium-ejemplo-curso.iml
